<!-- Main Form Group -->
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

    <!-- Parent Form -->
    <div class="orignal-form">
      <h3>Name</h3>
        <div class="w-100">
          <mat-label>First name</mat-label>
          <input matInput type="firstName" formControlName="firstName"
                 (input)="onChange('firstName', customerForm.value.firstName)" />
        </div>
        <div class="w-100">
          <mat-label>Last name</mat-label>
          <input matInput type="lastName" formControlName="lastName" 
                 (input)="onChange('lastName', customerForm.value.lastName)" /> 
        </div>
    </div>
    
    <!-- Child Component Forms -->
    <app-address-subform 
      [initialCustomer]="initialCustomer"
      [customer]="customer">
    </app-address-subform>
  
    <app-order-details-subform 
      [initialCustomer]="initialCustomer"
      [customer]="customer">
    </app-order-details-subform>
  
    <!-- Display Output -->
    <div class="output">
      <div>Current Customer Object:</div>
      <pre>{{ customer | json }}</pre>
    </div>
    
    <!-- Buttons -->
    <div class="form-actions">
      <button mat-button color="primary" type="button" onClick="window.location.reload()">
        Reset
      </button>
      <button mat-button color="primary" type="button" (click)="clear()">
        Clear
      </button>
      <button mat-button color="primary" type="button" (click)="clearPartial()">
        Partial Clear 
      </button>
      <button class="green" mat-flat-button color="primary" type="submit">
        Save
      </button>
    </div>
  
  </form>
  