p {
    margin: 0 0 1.5rem 0;
    color: #475569;
    font-size: 1.125rem;
    line-height: 1.5;
  }
  
  [data-ref] {
    color: var(--color);
    font-size: 0.9em;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }
  
  [data-ref="address-info-form"] {
    --color: #22c55e;
  }
  
  [data-ref="order-details-form"] {
    --color: #f97316;
  }
  
  .orignal-form {
    display: block;
    border-left: 3px solid var(--border-color);
    margin-left: -1rem;
    padding-left: 1rem;
    --border-color: #227cc5;
  }
  
  app-address-subform,
  app-order-details-subform {
    display: block;
    border-left: 3px solid var(--border-color);
    margin-left: -1rem;
    padding-left: 1rem;
  }
  
  app-address-subform {
    --border-color: #22c55e;
  }
  
  app-order-details-subform {
    --border-color: #f97316;
  }
  
  .output {
    margin-top: 3rem;
  }
  
  pre {
    background: rgba(216, 216, 216, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    overflow: auto;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  .yellow {
    background-color: #FFCC00;
  }
  