<h3>Address</h3>
<form [formGroup]="addressFormGroup">
  <!-- <mat-form-field class="w-100"> -->
  <div class="w-100">
    <mat-label>City</mat-label>
    <input matInput type="city" formControlName="city"
            (input)="onChange('city', addressFormGroup.value.city)" />
  </div>
  <!-- </mat-form-field> -->

  <!-- <mat-form-field class="w-100"> -->
  <div class="w-100">
    <mat-label>Street</mat-label>
    <input matInput type="street" formControlName="street" 
            (input)="onChange('street', addressFormGroup.value.street)" />
  </div>
  <!-- </mat-form-field> -->
</form>