body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .w-100 {
    // width: 100%;
    width: 260px;
    display: flex;
    justify-content: space-between;
  }
  
  input {
    margin-bottom: 10px;
  }