<h3>Order Details</h3>
<form [formGroup]="orderDetailsFormGroup">
  <!-- <mat-form-field class="w-100"> -->
  <div class="w-100">
    <mat-label>Currency</mat-label>
    <input matInput type="currency" formControlName="currency" 
            (input)="onChange('currency', orderDetailsFormGroup.value.currency)" />
  </div>
  <!-- </mat-form-field> -->

  <!-- <mat-form-field class="w-100"> -->
  <div class="w-100">
    <mat-label>Item</mat-label>
    <input matInput type="item" formControlName="item"
            (input)="onChange('item', orderDetailsFormGroup.value.item)" />
  </div>
  <!-- </mat-form-field> -->
</form>